<div class="row">
	<div class="span8">
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, qui, doloremque, tempore rem nam magnam dicta temporibus accusantium voluptatum delectus aliquam odit libero aut magni quas fugit sit error unde.</div>
		<div>Repellendus, distinctio, atque, dolorem quis nulla nostrum nemo velit rem deleniti et porro quam incidunt illum vitae similique sit praesentium consequuntur eaque cum non. Fuga, non ab dignissimos ut repellat.</div>
		<div>Ea, omnis, possimus, quo placeat perspiciatis accusantium consequatur culpa veniam fugit quibusdam dolorem sit aut temporibus quidem maxime animi ipsa rem id quam assumenda eligendi quasi ipsum tenetur pariatur exercitationem.</div>
		<div>Libero, earum, facere, adipisci beatae nesciunt praesentium autem quidem cumque consequatur similique deserunt ipsum eius ipsam accusamus hic dicta maxime dolor dolores ad porro. Consequatur soluta rem cum ducimus sapiente.</div>
	</div>
	<div class="span2">
		<div class="row" ng-include="'views/locations.html'"></div>
		<div class="row" ng-include="'views/activities.html'"></div>
		<div class="row" ng-include="'views/chat.html'"></div>
	</div>
</div>